body {
  background-color: #1e1e1e;
}

.card {
  margin-top: 7.5rem;
  padding: 5rem;
  box-sizing: border-box;
  color: white;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.card a {
  text-decoration: none;
  color: white;
}
.card a:hover {
  color: #5a2d81;
}

.addTask:hover {
  border: solid 10px #5a2d81;
  border-radius: 10px;
  box-shadow: 2px 2px 30px #79519c;
}

.addTask input:focus {
  border: solid 10px #5a2d81;
  border-radius: 10px;
  outline: 2px solid #5a2d81;
  box-shadow: 2px 2px 30px #79519c;
}

.button:active {
  box-shadow: 2px 2px 5px;
}

.Footer {
  text-align: center;
  width: fit-content;
  height: fit-content;
  background-color: #403e3e;
  padding: 2rem 4rem;
}
